
@{
    ViewBag.Title = "세월호";
}
<style>
    #sub-menu div
    {
        display:inline;
        font-size:x-large;
    }
    #big-issue-pic
    {
        text-align:center;
        margin-bottom:-3px;
    }
</style>

<div id="big-issue-pic">
    <img src="http://sewolho416.org/wordpress/wp-content/uploads/2014/10/photo_2014-10-31_23-37-58.jpg" alt="http://sewolho416.org/3247" width="1090" height="639">
</div>

<div id="issue-container">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="pure-menu pure-menu-open pure-menu-horizontal">
            <ul>
                <li class="pure-menu-selected">@Html.ActionLink("세월호", "Issues", new { area = "" }, new { @class = "navbar-brand" })</li>
                <li class="pure-menu-selected">@Html.ActionLink("관련기사", "Articles", new { area = "" }, new { @class = "navbar-brand" })</li>
                <li class="pure-menu-selected">@Html.ActionLink("토론의 장", "Discussion", new { area = "" }, new { @class = "navbar-brand" })</li>
                <li class="pure-menu-selected">@Html.ActionLink("후원하기", "Index", "Sponsorship", new { area = "" }, new { @class = "navbar-brand" })</li>
            </ul>
        </div>
    </div>
    <div id="context-area">
        <h2>Lorem ipsum</h2>
        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
        suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,
        vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis
        dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
        Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
        Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram,
        anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
    </div>
    <hr />
    <div id="point-area">
        <h2>Point Earned</h2>
        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
        suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,
        vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis
        dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
        Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
        Claritas est etiam processus dynamicus, qui sequitur mutatio
    </div>
    <hr />
</div>
